body {
    margin: 0;
    text-align: center;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    height: 50;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    height: 800%;
    border-radius: 10px;
    border: solid 3px black;
}

.score{
    position: relative; bottom: 25%; left: 10%;
    color: #9AABD8;
    font-size: 150%;
    background-color: #1B244A;
}

#resetButton{
    margin-bottom: 10%; left: 1%;
    position: relative; bottom: 200%;
    color: #9AABD8;
    font-size: 150%;
    background-color: #1B244A;
}

#homeScore, #guestScore{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    height: 40%;
    width: 170%;
    background-color: rgb(20, 20, 20);
    font-size: 800%;
    color: rgb(255, 81, 81);
    position: relative; right: 30%; top: -10%;
}

h3 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; right: 30%;
    padding: 10%;
    background-color: white;
    width: 150%;
    border-radius: 5px;
}